<app-nav navType='home'></app-nav>

<section id="showcase">
  <div class="image-1" style="height: 450px;">
    <div class="container pt-5">
      <div class="row text-left text-light d-sm-block text-center bg-dark py-3 rounded">
          <h1 class="display-3">Manage Employee Reimbursements</h1>
          <p class="lead">Simple and Intuitive Reimbursement Management</p>
          <a [routerLink]="['/login']" class="btn btn-danger btn-lg">Log In Now</a>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
      <div class="row">
          <div class="col-md-4 mb-4 text-center">
            <div class="card text-white bg-info mb-3">
              <div class="card-header"><h1 class="lead">Submit Requests</h1></div>
              <div class="card-body">
                <div class="card-text">Fill in reimbursement information, upload your proof of expense, and submit!</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 text-center">
            <div class="card text-white bg-secondary mb-3">
              <div class="card-header"><h1 class="lead">View Requests</h1></div>
              <div class="card-body">
                <div class="card-text">View the status of your requests from a simple interface</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4 text-center">
            <div class="card text-white bg-dark mb-3">
              <div class="card-header"><h1 class="lead">Approve or Deny Requests</h1></div>
              <div class="card-body">
                <div class="card-text">Managers can easily approve or deny reimbursement requests</div>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>
