<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a [routerLink]="['']" class="navbar-brand">ERS</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="isManager" class="nav-item">
          <a [routerLink]="['/manager-home']" class="nav-link">Back</a>
        </li>
        <li class="nav-item active">
          <a [routerLink]="['/employee-home']" class="nav-link">Overview</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/employee-submit']" class="nav-link">Submit</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/logout']" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

